.card {
    margin-bottom: 30px;

    .card-header {

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }

        span {
            font-weight: bold;
        }
    }

    .card-body__text {
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-bottom: 50px;
    }
}
