.RepoList__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-text{
  font-size: 8vw;
  color: #dadada;
}

.search-text-wrapper{
  display: flex;
  justify-content: center;
  height: 85vh;
  align-items: center;
}